*{
    margin: 0;
    padding: 0;
}

header{
    height: 50px;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 170px;
}

#logo{
    margin-left: 2px;
    font-size: 25px;
    color: #f08804;
}

input{
    margin-left: 200px;
}

button{
    background-color: #f08804;
    color: white;
}


.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#content{
    height: 544px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
}